numpy
scipy
pandas
pyarrow                  

yfinance                 
pandas-datareader        
fredapi                  

statsmodels              
scikit-learn             

cvxpy                    

mlflow

matplotlib
seaborn

python-dotenv            
tqdm                     
loguru                   
pytest                   